.inbox-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.inbox-sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.inbox-button {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.inbox-list {
  flex: 1;
  padding: 0 20px;
}

.inbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f7f7f7;
}

.inbox-item-header {
  flex: 1;
  display: flex;
  align-items: center;
}

.inbox-item-header-from {
  font-weight: bold;
  margin-right: 10px;
}

.inbox-item-header-message {
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.inbox-item-from {
  margin-right: 20px;
}

.inbox-item-message {
  flex: 1;
}

.delete-button-container {
  display: flex;
  align-items: center;
}

.delete-button-container button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}